.first-class {
  color: #f00;
  font-family: sans-serif;
  text-decoration: underline;
}

.second-class {
  @extend .first-class;
  border-color: #fff;
}

.third-class {
  @extend .first-class;
  background-color: #f0f0f0;
}

.fourth-class {
  @extend .first-class;
  background-color: #f0f0f0;
}

// Comment
// Another comment
