// Variables
$primary-col: blue;
$secondary-col: red;
$border-width: 4px;

// Classes
.first-class {
  color: #f00;
  font-family: sans-serif;
  text-decoration: underline;
}

.second-class {
  @extend .first-class;
  border-color: $primary-col;
  border-width: $border-width;
}

a {
  font-family: sans-serif; color: $primary-col;
  &:hover,
  &:focus,
  &:visited { color: $secondary-col; }
  &.another-class { color: $secondary-col;
    &:hover,
    &:focus,
    &:visited { color: $secondary-col; }
  }
}

// a:hover, a:focus, a:visited {
//   color: $primary-col;
// }
// a.link-class {
//   font-family: sans-serif;
//   color: $secondary-col;
// }
